.footer-container {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
    height: 10vh;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .footer-content nav a {
    margin: 0 10px;
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-content nav a:hover {
    color: #fff;
    text-decoration: underline;
  }