.header-container {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    //box-sizing: border-box;
    height: 15vh;
  }
  .header-container h1 {
    font-size: 2rem;
    margin: 0;
    color: #333;
  }
  .incluir-btn {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .incluir-btn:hover {
    background-color: #0056b3;
  }
 
.knowledge-base {
  font-size: 2rem !important;
  font-weight: 700;
  color: #212626 !important;
  text-shadow:
    0 0 1px #14302e,               /* outline turquesa fino */
    2px 2px 3px #1C4A48,           /* drop shadow smooth escura */
    -1px -1px 1px rgba(255,255,255,0.4); /* leve brilho para alto relevo */
    letter-spacing: 0.5rem;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff !important;
    border-top: 1px solid !important;
    border-left: 1px solid !important;
    border-right: 1px solid !important;
    border-radius: 5px !important;
}