  .header-container {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    height: 8vh;
  }
  .header-container h1 {
    font-size: 2rem;
    margin: 0;
    color: #333;
  }
  .incluir-btn {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .incluir-btn:hover {
    background-color: #0056b3;
  }
  .knowledge-base {
    /* fallback (caso clamp não seja suportado) */
    font-size: 2rem;
    /* tipografia fluida: min 1.25rem, cresce com viewport, máx 2.75rem */
    font-size: clamp(1.0rem, 1rem + 2vw, 2.25rem) !important;

    font-weight: 700;
    color: #212626 !important;

    text-shadow:
      0 0 1px #14302e,
      2px 2px 3px #1C4A48,
      -1px -1px 1px rgba(255, 255, 255, 0.4);

    /* espaçamento entre letras também responsivo:
      min 0.08rem, cresce um pouco, máx 0.5rem */
    letter-spacing: clamp(0.08rem, 0.1rem + 0.8vw, 0.5rem);

    line-height: clamp(1.2rem, 1.2rem + 1vw, 2.5rem)  ;
  }