.body {
    height: 78vh;
    max-height: 78vh;
}
.row {
    border-bottom: 1px solid #c1bccd;
}
::ng-deep  .mat-mdc-table tbody, 
           .mat-mdc-table tfoot, 
           .mat-mdc-table thead, 
           .mat-mdc-cell, 
           .mat-mdc-footer-cell, 
           .mat-mdc-header-row, 
           .mat-mdc-row, 
           .mat-mdc-footer-row, 
           .mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
    height: 6vh;
    max-height: 6vh;
}
::ng-deep .mat-mdc-table .mdc-data-table__row {
    height: 1.5rem;
}
::ng-deep td:nth-child(4) {
    display: list-item !important;
    height: 6vh !important;
    overflow-y: auto !important;
    margin-top: 0 !important;
    padding: 0 !important;
}
::ng-deep .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
    min-width: 100%;
    padding: 0.3rem 0 0 0 !important;
    margin: 0 !important;
}
::ng-deep .mdc-evolution-chip-set .mdc-evolution-chip {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}
::ng-deep .mdc-evolution-chip, .mdc-evolution-chip__cell, .mdc-evolution-chip__action {
    display: inline-flex;
    align-items: center;
    height: 20px !important;
}
.tags {
    cursor: pointer;
}
a {
    cursor: pointer;
}
a.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.edit, .delete {
    cursor: pointer;
}