::ng-deep .main {
    .mat-mdc-dialog-content {
        max-height: 100vh !important;
        height: 100vh !important;
        .body {
            .form-layout {
                .row {
                    .linha {
                        .knowledge-base {
                          font-size: 1rem !important;
                          font-weight: 700;
                          color: #212626 !important;
                          text-shadow: 0 0 1px #14302e, 2px 2px 3px #1C4A48, -1px -1px 1px rgba(255,255,255,0.4);
                          letter-spacing: 0.5rem;
                          padding: 1rem 0 1rem 0;
                        }
                    }
                }
                .row {
                    div {

                    }
                }

            }
        }
    }

}

/*
.mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 180px;
    position: relative;
    box-sizing: border-box;
}





 .mat-mdc-text-field-wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.02) !important;
}
.linha {
    height: 14vh !important;
}
 .mdc-dialog__title {
    display: block;
    margin-top: 0;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0 0 1px;
    padding: 0 !important;
}
 .mat-h2, 
 .mat-headline-6, 
 .mat-typography .mat-h2, 
 .mat-typography .mat-headline-6, 
 .mat-typography h2 {
    margin: 0 !important;
}
    */