.mat-mdc-dialog-content {
    max-height: 100vh !important;
    height: 100vh !important;
}
.mat-mdc-dialog-container .mdc-dialog__title {
    font-family: var(--mdc-dialog-subhead-font);
    line-height: var(--mdc-dialog-subhead-line-height, 14px);
    font-size: var(--mdc-dialog-subhead-size, 14px);
    font-weight: var(--mdc-dialog-subhead-weight, 500);
    letter-spacing: var(--mdc-dialog-subhead-tracking, 1px);
}
.knowledge-base {
  font-size: 1rem !important;
  font-weight: 700;
  color: #212626 !important;
  text-shadow:
    0 0 1px #14302e,               /* outline turquesa fino */
    2px 2px 3px #1C4A48,           /* drop shadow smooth escura */
    -1px -1px 1px rgba(255,255,255,0.4); /* leve brilho para alto relevo */
    letter-spacing: 0.5rem;
}
::ng-deep .ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 31vh !important;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.linha {
    height: 14vh !important;
}
::ng-deep .mdc-dialog__title {
    display: block;
    margin-top: 0;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0 0 1px;
    padding: 0 !important;
}
::ng-deep .mat-h2, 
::ng-deep .mat-headline-6, 
::ng-deep .mat-typography .mat-h2, 
::ng-deep .mat-typography .mat-headline-6, 
::ng-deep .mat-typography h2 {
    margin: 0 !important;
}