@import "~@angular/material/prebuilt-themes/indigo-pink.css";  /* required */
@import "~bootstrap/dist/css/bootstrap.css";  /* optional for better look */

@font-face {
  font-family: "poppins-regular";
  src: url(./assets/Poppins/Poppins-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins-regular" !important;
  font-size: 0.77rem !important;
}

html,
body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #000;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

html, body { height: 100%; }
body { 
  margin: 0; 
}

